{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/about.css' %}"
        />
        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet"
        />
    </head>
    <body>
        {% include 'navigation/header.html' %}
        <div class="main-element">
            <div class="con-element">
                <h1
                    data-aos="fade-left"
                    data-aos-duration="1800"
                    class="about-us"
                >
                    About Us
                </h1>
                <p
                    data-aos="fade-right"
                    data-aos-duration="1800"
                    class="about-macer-keyboard"
                >
                    At Macer, we beleive that keyboards are more than just tools
                    - they're an extension of who we are , how we work, and how
                    we express ourselves. Founded with a pssion for innovation
                    and a commitment to craftsmanships, Macer is dedicated to
                    providing premium keyboards that redefine the way you
                    interact with technology.
                </p>
            </div>
        </div>
        <div class="main-container-section">
            <div class="kon-container-element">
                <div
                    class="why-choose-macer-main-element"
                    style="color: rgb(255, 255, 255)"
                >
                    <h1
                        data-aos="fade-up"
                        data-aos-duration="1800"
                        class="why-choose-macer-con-element"
                        style="margin: 0; color: white; width: 100%"
                    >
                        Why Choose Macer?
                    </h1>
                </div>
                <div class="container-of-section">
                    <section class="section-one">
                        <div class="kon-section-one">
                            <header class="header-one-in-section-one">
                                <h3
                                    data-aos="fade-right"
                                    data-aos-duration="1800"
                                    class="uncompromissing-quality"
                                    style="color: white; margin: 0"
                                >
                                    Uncompromissing Quality
                                </h3>
                            </header>
                            <p
                                data-aos="fade-right"
                                data-aos-duration="1800"
                                class="uncompromissing-quality-paragraph"
                                style="color: white"
                            >
                                Every <b>@Macer</b> keyboard is meticulously
                                engineered with durable materials, ensuring they
                                stand the test of time. From the finest
                                mechanical switches to customizable RGB
                                lighting, we prioritize quality in every detail.
                            </p>
                            <div
                                data-aos="fade-right"
                                data-aos-duration="1800"
                                class="akko-image"
                            >
                                <img
                                    class="akko-section1"
                                    src="{% static 'img/about_icon/akko.jpg' %}"
                                    alt="error"
                                />
                                <h1 class="h1-in-akko-image">macer x akko</h1>
                            </div>
                            <header
                                class="header-two-in-section-one"
                                style="color: rgb(255, 255, 255)"
                            >
                                <h3
                                    data-aos="fade-up"
                                    data-aos-duration="1800"
                                    class="customer-centric-approach"
                                    style="margin: 0"
                                >
                                    Customer-Centric Approach
                                </h3>
                            </header>
                            <p
                                data-aos="fade-up"
                                data-aos-duration="1800"
                                style="color: white"
                                class="customer-centric-approach-paragraph"
                            >
                                At Macer, your satisfaction is our priority. We
                                actively listen to your feedback and
                                continuously improve to deliver products that
                                exceed expectations
                            </p>
                            <img
                                data-aos="fade-up"
                                data-aos-duration="1800"
                                class="customer-centric-imgage"
                                src="{% static 'img/about_icon/Dmitrii Kharchenko.jpeg' %}"
                                alt=""
                                style="width: 95%; border-radius: 5px"
                            />
                        </div>
                    </section>
                    <section class="section-two">
                        <div class="kon-section-two">
                            <header
                                class="header-two-in-section-one"
                                style="color: white"
                            >
                                <h3
                                    data-aos="fade-left"
                                    data-aos-duration="1800"
                                    class="innovation-design-h3"
                                    style="margin: 0"
                                >
                                    Innovative Designs
                                </h3>
                            </header>
                            <p
                                data-aos="fade-left"
                                data-aos-duration="1800"
                                style="color: white"
                                class="innovation-design-paragraph"
                            >
                                We stay ahead of trends to bring you modern,
                                sleek designs that match your lifestyle. From
                                compact layouts to full-sized keyboards, our
                                collection caters to diverse preferences.
                            </p>
                            <div class="innovative-designs-main-element">
                                <img
                                    data-aos="fade-left"
                                    data-aos-duration="1800"
                                    class="innovative-designs-image"
                                    src="{% static 'img/about_icon/Innovative Designs.jpeg' %}"
                                    alt=""
                                    style="width: 95%; border-radius: 5px"
                                />
                                <h1
                                    data-aos="fade-left"
                                    data-aos-duration="1700"
                                    class="innovation-h1"
                                    style="
                                        text-transform: uppercase;
                                        color: white;
                                    "
                                >
                                    Innovative Designs
                                </h1>
                            </div>
                            <h3
                                data-aos="fade-up"
                                data-aos-duration="1800"
                                class="expert-help-desk-h1"
                                style="color: white; margin-bottom: 0"
                            >
                                Expert Help Desk
                            </h3>
                            <p
                                data-aos="fade-up"
                                data-aos-duration="1800"
                                class="expert-help-desk-text-paragraph"
                                style="color: white"
                            >
                                Our <b>Macer Compay</b> provides the expert
                                support helps minimize downtime and enable your
                                teams to collaborate seamlessly. Our specialists
                                have deep expertise in video collaboration and
                                partner ecosystems like Microsoft, Zoom, and
                                Google for quick issue resolution.
                            </p>
                            <img
                                data-aos="fade-up"
                                data-aos-duration="1800"
                                class="expert-desk"
                                src="{% static 'img/about_icon/expert-desk.jpeg' %}"
                                alt=""
                                style="width: 95%; border-radius: 5px"
                            />
                        </div>
                    </section>
                </div>
            </div>
            <p
                data-aos="fade-up"
                data-aos-duration="1800"
                class="footer-of-section"
                style="color: white; text-align: center; font-style: italic"
            >
                Your Gateway to the Ultimate Typing Experince with
                <b>&copy;Macer</b>
            </p>
            <div class="main-element-ruler-footer">
                <div class="ruler-footer"></div>
            </div>
        </div>
        <div class="about-footer">
            <div class="footer-main-element">
                <h1
                    data-aos="fade-up"
                    data-aos-duration="1800"
                    class="contact-us-h1"
                >
                    Contact Us
                </h1>
                <div class="container-of-ul">
                    <ul class="main-element-of-ul">
                        <li
                            data-aos="fade-up"
                            data-aos-duration="1800"
                            class="about-icon"
                        >
                            <img
                                class="image-icon"
                                src="{% static 'img/about_icon/facebook.png' %}"
                                alt=""
                            />
                            <p class="paragraph-in-li">Macer</p>
                        </li>
                        <li
                            data-aos="fade-up"
                            data-aos-duration="1800"
                            class="about-icon"
                        >
                            <img
                                class="image-icon"
                                src="{% static 'img/about_icon/instagram.png' %}"
                                alt=""
                            />
                            <p class="paragraph-in-li">Macer_ig007</p>
                        </li>
                        <li
                            data-aos="fade-up"
                            data-aos-duration="1800"
                            class="about-icon"
                        >
                            <img
                                class="image-icon"
                                src="{% static 'img/about_icon/telegram.png' %}"
                                alt=""
                            />
                            <p class="paragraph-in-li">+855 12345678</p>
                        </li>
                        <li
                            data-aos="fade-up"
                            data-aos-duration="1800"
                            class="about-icon"
                        >
                            <img
                                class="image-icon"
                                src="{% static 'img/about_icon/phone-call.png' %}"
                                alt=""
                            />
                            <p class="paragraph-in-li">+855 12345678</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% include 'navigation/footer.html' %}
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init()
        </script>
    </body>
</html>
