--
-- PostgreSQL database dump
--

\restrict f06ic5iDUWIrWhyjgxqxY3WSFay21yywimhcpzY5SZ6qXY3vlI9nhiP6ZhD5E9b

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: maceruser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO maceruser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: maceruser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: keyboardApp_discount_code; Type: TABLE; Schema: public; Owner: maceruser
--

CREATE TABLE public."keyboardApp_discount_code" (
    discount_id integer NOT NULL,
    code text NOT NULL,
    discount_percentage integer NOT NULL,
    valid_from timestamp with time zone NOT NULL,
    valid_to timestamp with time zone NOT NULL,
    is_activate integer NOT NULL
);


ALTER TABLE public."keyboardApp_discount_code" OWNER TO maceruser;

--
-- Name: keyboardApp_discount_code_discount_id_seq; Type: SEQUENCE; Schema: public; Owner: maceruser
--

ALTER TABLE public."keyboardApp_discount_code" ALTER COLUMN discount_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."keyboardApp_discount_code_discount_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: keyboardApp_reviews; Type: TABLE; Schema: public; Owner: maceruser
--

CREATE TABLE public."keyboardApp_reviews" (
    review_id integer NOT NULL,
    rating integer NOT NULL,
    review_text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    store_item_id_id integer NOT NULL,
    user_id_id integer NOT NULL
);


ALTER TABLE public."keyboardApp_reviews" OWNER TO maceruser;

--
-- Name: keyboardApp_reviews_review_id_seq; Type: SEQUENCE; Schema: public; Owner: maceruser
--

ALTER TABLE public."keyboardApp_reviews" ALTER COLUMN review_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."keyboardApp_reviews_review_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: keyboardApp_store_item; Type: TABLE; Schema: public; Owner: maceruser
--

CREATE TABLE public."keyboardApp_store_item" (
    item_id integer NOT NULL,
    item_name character varying(50) NOT NULL,
    item_price numeric(10,2) NOT NULL,
    item_description character varying(50) NOT NULL,
    item_key_color character varying(50) NOT NULL,
    item_brand character varying(50) NOT NULL,
    item_image character varying(100)
);


ALTER TABLE public."keyboardApp_store_item" OWNER TO maceruser;

--
-- Name: keyboardApp_store_item_item_id_seq; Type: SEQUENCE; Schema: public; Owner: maceruser
--

ALTER TABLE public."keyboardApp_store_item" ALTER COLUMN item_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."keyboardApp_store_item_item_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: keyboardApp_transaction; Type: TABLE; Schema: public; Owner: maceruser
--

CREATE TABLE public."keyboardApp_transaction" (
    transaction_id integer NOT NULL,
    item_id integer NOT NULL,
    transaction_user_id integer NOT NULL,
    transaction_date timestamp with time zone NOT NULL,
    reviewed_flag integer NOT NULL
);


ALTER TABLE public."keyboardApp_transaction" OWNER TO maceruser;

--
-- Name: keyboardApp_transaction_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: maceruser
--

ALTER TABLE public."keyboardApp_transaction" ALTER COLUMN transaction_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."keyboardApp_transaction_transaction_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: keyboardApp_user_info; Type: TABLE; Schema: public; Owner: maceruser
--

CREATE TABLE public."keyboardApp_user_info" (
    user_id integer NOT NULL,
    user_name character varying(12) NOT NULL,
    user_nickname character varying(12) NOT NULL,
    user_password text NOT NULL,
    user_balance numeric(6,2) NOT NULL,
    user_role character varying(30) NOT NULL
);


ALTER TABLE public."keyboardApp_user_info" OWNER TO maceruser;

--
-- Name: keyboardApp_user_info_user_id_seq; Type: SEQUENCE; Schema: public; Owner: maceruser
--

ALTER TABLE public."keyboardApp_user_info" ALTER COLUMN user_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."keyboardApp_user_info_user_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: maceruser
--



--
-- Data for Name: keyboardApp_discount_code; Type: TABLE DATA; Schema: public; Owner: maceruser
--

COPY public."keyboardApp_discount_code" (discount_id, code, discount_percentage, valid_from, valid_to, is_activate) FROM stdin;
1	HK121	30	2025-03-18 02:10:22.250719+00	2025-03-31 02:10:07+00	1
2	2025	15	2025-08-11 08:07:23.695421+00	2025-08-14 17:00:00+00	1
\.


--
-- Data for Name: keyboardApp_reviews; Type: TABLE DATA; Schema: public; Owner: maceruser
--

COPY public."keyboardApp_reviews" (review_id, rating, review_text, created_at, store_item_id_id, user_id_id) FROM stdin;
6	4	Nice keyboard	2025-03-24 01:25:44.978364+00	7	5
15	5	N/A	2025-08-11 08:54:09.989701+00	7	5
21	5	N/A	2026-06-10 13:28:21.568951+00	15	5
\.


--
-- Data for Name: keyboardApp_store_item; Type: TABLE DATA; Schema: public; Owner: maceruser
--



--
-- Data for Name: keyboardApp_transaction; Type: TABLE DATA; Schema: public; Owner: maceruser
--

COPY public."keyboardApp_transaction" (transaction_id, item_id, transaction_user_id, transaction_date, reviewed_flag) FROM stdin;
19	3	1	2025-03-20 01:38:20.512306+00	0
23	7	5	2025-03-24 01:25:18.645759+00	1
24	7	5	2025-03-24 01:25:18.645759+00	1
5	15	5	2026-06-10 13:28:10.962462+00	1
\.


--
-- Data for Name: keyboardApp_user_info; Type: TABLE DATA; Schema: public; Owner: maceruser
--

COPY public."keyboardApp_user_info" (user_id, user_name, user_nickname, user_password, user_balance, user_role) FROM stdin;
1	potato	potato-bleh	nice123	14.50	user
2	kimly	superman	kimly123	600.00	user
3	jamero	jammer	jame121	0.00	user
4	triooTesty	testie	tie121	0.00	user
6	admin	admin	123	1000.00	admin
7	nice	nice99	123	0.00	user
8	Test	Testing	123	0.00	user
9	Vin	Vin7	123	0.00	user
5	Kimly	Kimly69	123	2179.75	user
\.


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maceruser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 63, true);


--
-- Name: keyboardApp_discount_code_discount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maceruser
--

SELECT pg_catalog.setval('public."keyboardApp_discount_code_discount_id_seq"', 1, false);


--
-- Name: keyboardApp_reviews_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maceruser
--

SELECT pg_catalog.setval('public."keyboardApp_reviews_review_id_seq"', 21, true);


--
-- Name: keyboardApp_store_item_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maceruser
--

SELECT pg_catalog.setval('public."keyboardApp_store_item_item_id_seq"', 54, true);


--
-- Name: keyboardApp_transaction_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maceruser
--

SELECT pg_catalog.setval('public."keyboardApp_transaction_transaction_id_seq"', 5, true);


--
-- Name: keyboardApp_user_info_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maceruser
--

SELECT pg_catalog.setval('public."keyboardApp_user_info_user_id_seq"', 1, false);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: keyboardApp_discount_code keyboardApp_discount_code_code_key; Type: CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_discount_code"
    ADD CONSTRAINT "keyboardApp_discount_code_code_key" UNIQUE (code);


--
-- Name: keyboardApp_discount_code keyboardApp_discount_code_pkey; Type: CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_discount_code"
    ADD CONSTRAINT "keyboardApp_discount_code_pkey" PRIMARY KEY (discount_id);


--
-- Name: keyboardApp_reviews keyboardApp_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_reviews"
    ADD CONSTRAINT "keyboardApp_reviews_pkey" PRIMARY KEY (review_id);


--
-- Name: keyboardApp_store_item keyboardApp_store_item_item_name_2db74423_uniq; Type: CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_store_item"
    ADD CONSTRAINT "keyboardApp_store_item_item_name_2db74423_uniq" UNIQUE (item_name);


--
-- Name: keyboardApp_store_item keyboardApp_store_item_pkey; Type: CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_store_item"
    ADD CONSTRAINT "keyboardApp_store_item_pkey" PRIMARY KEY (item_id);


--
-- Name: keyboardApp_transaction keyboardApp_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_transaction"
    ADD CONSTRAINT "keyboardApp_transaction_pkey" PRIMARY KEY (transaction_id);


--
-- Name: keyboardApp_user_info keyboardApp_user_info_pkey; Type: CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_user_info"
    ADD CONSTRAINT "keyboardApp_user_info_pkey" PRIMARY KEY (user_id);


--
-- Name: keyboardApp_user_info keyboardApp_user_info_user_name_key; Type: CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_user_info"
    ADD CONSTRAINT "keyboardApp_user_info_user_name_key" UNIQUE (user_name);


--
-- Name: keyboardApp_discount_code_code_51581323_like; Type: INDEX; Schema: public; Owner: maceruser
--

CREATE INDEX "keyboardApp_discount_code_code_51581323_like" ON public."keyboardApp_discount_code" USING btree (code text_pattern_ops);


--
-- Name: keyboardApp_reviews_store_item_id_id_a7200ee2; Type: INDEX; Schema: public; Owner: maceruser
--

CREATE INDEX "keyboardApp_reviews_store_item_id_id_a7200ee2" ON public."keyboardApp_reviews" USING btree (store_item_id_id);


--
-- Name: keyboardApp_reviews_user_id_id_bce7e0f9; Type: INDEX; Schema: public; Owner: maceruser
--

CREATE INDEX "keyboardApp_reviews_user_id_id_bce7e0f9" ON public."keyboardApp_reviews" USING btree (user_id_id);


--
-- Name: keyboardApp_store_item_item_name_2db74423_like; Type: INDEX; Schema: public; Owner: maceruser
--

CREATE INDEX "keyboardApp_store_item_item_name_2db74423_like" ON public."keyboardApp_store_item" USING btree (item_name varchar_pattern_ops);


--
-- Name: keyboardApp_transaction_item_id_id_32462652; Type: INDEX; Schema: public; Owner: maceruser
--

CREATE INDEX "keyboardApp_transaction_item_id_id_32462652" ON public."keyboardApp_transaction" USING btree (item_id);


--
-- Name: keyboardApp_transaction_transaction_user_id_id_2188bb04; Type: INDEX; Schema: public; Owner: maceruser
--

CREATE INDEX "keyboardApp_transaction_transaction_user_id_id_2188bb04" ON public."keyboardApp_transaction" USING btree (transaction_user_id);


--
-- Name: keyboardApp_user_info_user_name_50962654_like; Type: INDEX; Schema: public; Owner: maceruser
--

CREATE INDEX "keyboardApp_user_info_user_name_50962654_like" ON public."keyboardApp_user_info" USING btree (user_name varchar_pattern_ops);


--
-- Name: keyboardApp_reviews keyboardApp_reviews_store_item_id_id_a7200ee2_fk_keyboardA; Type: FK CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_reviews"
    ADD CONSTRAINT "keyboardApp_reviews_store_item_id_id_a7200ee2_fk_keyboardA" FOREIGN KEY (store_item_id_id) REFERENCES public."keyboardApp_store_item"(item_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: keyboardApp_reviews keyboardApp_reviews_user_id_id_bce7e0f9_fk_keyboardA; Type: FK CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_reviews"
    ADD CONSTRAINT "keyboardApp_reviews_user_id_id_bce7e0f9_fk_keyboardA" FOREIGN KEY (user_id_id) REFERENCES public."keyboardApp_user_info"(user_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: keyboardApp_transaction keyboardApp_transact_item_id_f115167d_fk_keyboardA; Type: FK CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_transaction"
    ADD CONSTRAINT "keyboardApp_transact_item_id_f115167d_fk_keyboardA" FOREIGN KEY (item_id) REFERENCES public."keyboardApp_store_item"(item_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: keyboardApp_transaction keyboardApp_transact_transaction_user_id_a33c0d21_fk_keyboardA; Type: FK CONSTRAINT; Schema: public; Owner: maceruser
--

ALTER TABLE ONLY public."keyboardApp_transaction"
    ADD CONSTRAINT "keyboardApp_transact_transaction_user_id_a33c0d21_fk_keyboardA" FOREIGN KEY (transaction_user_id) REFERENCES public."keyboardApp_user_info"(user_id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict f06ic5iDUWIrWhyjgxqxY3WSFay21yywimhcpzY5SZ6qXY3vlI9nhiP6ZhD5E9b

