# pip install python-dotenv
# pip install cryptography
# pip install PyJWT
# pip install djangorestframework
# pip install Pillow


# Django==5.1.4
# psycopg2-binary
# gunicorn
python-dotenv
cryptography
PyJWT
djangorestframework
Pillow

Django==5.1.4
psycopg2-binary
django-cors-headers
gunicorn==23.0.0

whitenoise
cloudinary
django-cloudinary-storage